* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: row wrap;
}

header {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 2px solid #000;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}

header nav ul li {
    padding: 0 20px;
}

aside {
    width: 300px;
    padding: 40px;
    border-right: 2px solid black;
    flex-shrink: 0;
}

aside ul {
    list-style: none;
}

main {
    padding: 40px 10%;
    width: calc(100% - 300px);
}

main section article {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-bottom: 40px;
}

main section article img {
    margin-right: 20px;
}

main section article:nth-child(2n) img {
    order: 2;
    margin-right: 0;
    margin-left: 20px;
}